@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: aliceblue;
}

.calculator {
  background-color: #3a4455;
  padding: 1.25rem;
  border-radius: 10px;
}

.calculator form input {
  border: 0;
  outline: 0;
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 0.625rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.2);
  background: transparent;
  font-size: 1.25rem;
  color: white;
  cursor: pointer;
  margin: 0.625rem;
}

form .display {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}

form .display input {
  text-align: right;
  box-shadow: none;
  flex: 1;
  user-select: none;
  font-size: 30px;
}

form input.equal {
  width: 145px;
}

.multiply-btn::before {
  content: "x";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
}
